body{
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

header{
    height: 100px;
    background-color: aqua;
}

nav{
    height: 50px;
    background-color: bisque;
}

.container>div>*{
    min-height: 300px;
    background-color: blue;
}

.container>div>article{
    background-color: violet;
}
footer{
    height: 50px;
    background-color: tomato;
}
