<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Lean2.css">
</head>
<body>
    <div class="container">
        <div class="t-1">
            <p>All content</p>
        </div>
        <div class="t-2">
            <p>Top left</p>
        </div>
        <div class="t-3">
            <p>Top right</p>
        </div>
        <div class="t-4">
            <p>Bottom right</p>
        </div>
        <div class="t-5">
            <p>Bottom left</p>
        </div>
        <div class="t-6">
            <p>Vary Each</p>
        </div>
        <div class="t-7">
            <p>backgroud</p>
        </div>
        <div class="t-8">
            <p>backgroud img </p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8mEIWZjRFdiO4YIkq790lTaNzTtCH6DcwrQ&usqp=CAU" alt="">
            
        </div>
    </div>
</body>
</html>